# --- Go ---
# Binaries for Windows
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# --- IDE & Editors ---
.idea/
.vscode/
*.swp

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Logs & Output ---
*.log
*.txt  <-- Đã comment lại để tránh mất requirements.txt

# --- Data Output ---
*.csv

# --- SECURITY (Rất quan trọng) ---
.env
.env.local