# config.toml

[settings]

#Số lượng worker node
concurrency = 64
# Danh sách các tên miền cần giám sát
domains = [
    "google.com", "facebook.com", "youtube.com", "microsoft.com", "apple.com",
]

# Các ngưỡng cảnh báo (tính bằng ngày trước khi hết hạn)
alert_thresholds = [10000]

[notifications.slack]
enabled = false

# Webhook URL
webhook_url_env_var = "SLACK_WEBHOOK_URL"