# config.toml

[settings]
# Danh sách các tên miền cần giám sát
domains = [
    "google.com",
    "github.com",
    "uit.edu.vn"
]

# Các ngưỡng cảnh báo (tính bằng ngày trước khi hết hạn)
alert_thresholds = [365, 15, 7]

[notifications.slack]
enabled = true

# Webhook URL
webhook_url_env_var = "SLACK_WEBHOOK_URL"